<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/school</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">false</property>
        <property name="use_sql_comments">false</property>

        <!-- Create zorgt ervoor dat iedere keer alle tabellen opnieuw worden aangemaakt en leeg gemaakt, update
        zorgt ervoor dat de vorige data base wordt behouden

        update: Updates the schema
        create-drop: drop the sche,a at the end of the session
        create: creates the schema, destroying previous changes
        validate: validates the schema
        -->
        <property name="hbm2ddl.auto">create-drop</property>

        <!-- Reference to all the mapping files used -->
        <!--
        Example:

        With XML:
        <mapping resource="musicproject/persistence/Song.hbm.xml"/>
        <mapping resource="musicproject/persistence/Album.hbm.xml"/>
        <mapping resource="musicproject/persistence/Artist.hbm.xml"/>

        With Namespace (Annotations):
        <mapping class="com.desple.model.Album"/>
        <mapping class="com.desple.model.Album"/>
        <mapping class="com.desple.model.Album"/>
        -->
        <mapping class="com.desple.model.Artiest"/>
        <mapping class="com.desple.model.BenodigdeApparatuur"/>
        <mapping class="com.desple.model.Bezoeker"/>
        <mapping class="com.desple.model.Festival"/>
        <mapping class="com.desple.model.FestivalDag"/>
        <mapping class="com.desple.model.Koper"/>
        <mapping class="com.desple.model.Medewerker"/>
        <mapping class="com.desple.model.Optreden"/>
        <mapping class="com.desple.model.PersContract"/>
        <mapping class="com.desple.model.Playlist"/>
        <mapping class="com.desple.model.Song"/>
        <mapping class="com.desple.model.Taak"/>
        <mapping class="com.desple.model.Ticket"/>
        <mapping class="com.desple.model.TicketOrder"/>
        <mapping class="com.desple.model.TicketType"/>
        <mapping class="com.desple.model.Tracking"/>
        <mapping class="com.desple.model.Zone"/>

    </session-factory>
</hibernate-configuration>